USE [DoDoneTasksData]
GO
ALTER PROCEDURE [Reading.UserData].[GetUserRoles]
    @UserId UNIQUEIDENTIFIER,
    @OnlyActive BIT = 0,
    @OnlyStatic BIT = 0,
    @OnlyDynamic BIT = 0
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM [Reading.UserData].AllUserRoles UR
    WHERE UR.UserId = @UserId
      AND (@OnlyActive = 0 OR UR.LeftAt IS NULL)
      AND (
            -- لو مش محدد Static/Dynamic خالص يبقى يرجع الكل
            (@OnlyStatic = 0 AND @OnlyDynamic = 0)
            
            -- لو عاوز Static بس → يبقى ProjectId و FeatureId NULL
            OR (@OnlyStatic = 1 AND UR.ProjectId IS NULL )

            -- لو عاوز Dynamic بس → ProjectId أو FeatureId مش NULL
            OR (@OnlyDynamic = 1 AND UR.ProjectId IS NOT NULL)
          );
END
