USE [DoDoneTasksData]
GO

ALTER PROCEDURE [Reading.ProjectData].[IsUserInProject]
    @UserId UNIQUEIDENTIFIER = NULL,
    @ProjectId UNIQUEIDENTIFIER = NULL,
    @ProjectUserRoleId UNIQUEIDENTIFIER = NULL,
    @ActiveOnly BIT = 1
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM ProjectUserRoles PUR
        WHERE 
            (
                @ProjectUserRoleId IS NOT NULL 
                AND PUR.Id = @ProjectUserRoleId
            )
            OR (
                @ProjectUserRoleId IS NULL
                AND PUR.UserId = @UserId
                AND PUR.ProjectId = @ProjectId
            )
            AND (
                @ActiveOnly = 0
                OR (PUR.LeftAt IS NULL OR PUR.LeftAt > GETUTCDATE())
            )
    )
        SELECT CAST(1 AS bit);
    ELSE
        SELECT CAST(0 AS bit);
END
