USE [DoDoneTasksData]
GO
/****** Object:  Trigger [dbo].[TR_ProjectUserRole_Insert]    Script Date: 10/2/2025 1:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   TRIGGER [dbo].[TR_ProjectUserRole_Insert]
ON [dbo].[ProjectUserRoles]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [Reading.UserData].AllUsersRoles(UserId, ProjectId, FeatureId, RoleId, StartedAt, LeftAt,RoleName)
    SELECT 
        i.UserId,
        i.ProjectId,
        NULL AS FeatureId,
        i.RoleId,
        i.StartedAt,
        NULL AS LeftAt,
		r.Name
    FROM inserted i JOIN Roles r ON r.Id=i.RoleId
	Where i.UserId <> '00000000-0000-0000-0000-000000000000';
END